form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#entries {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0.5rem;

  dl {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
